
node_modules/
dist
.dev/
.DS_Store
.tmp/
.idea/
.fusebox
package-lock.json
playground
_playground
_current_test
.release

# FuseBox Loader API built type definition
# Which is then exported as a module from `src`
src/modules/fuse-loader/LoaderAPI.ts

# FuseBox modules built from TS
modules/fsbx-default-css-plugin/
modules/fusebox-hot-reload/
modules/fusebox-websocket/
modules/fuse-loader/
modules/fuse-hmr/
